<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="">
    <title><%= title %></title>
</head>
<body>
    <form method="POST" action="addWorker">
        <input type="text" placeholder="Enter name" name="workerName">
        <input type="email" placeholder="Enter email" name="workerEmail">
        <input type="number" placeholder="Enter salary" name="workerSalary">
        <input type="date" placeholder="Enter date" name="workerDate">

        <button>Send</button>
    </form>

</body>
</html>