<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="">
    <title><%= title %></title>
</head>
<body>
<% departments.forEach(department => { %>
    <form method="POST" action="delete">
        <p><%= department.name %></p>
        <button name="deleteDep" value="<%= department.id%>">Delete</button>
    </form>
    <form method="POST" action="update">
        <input type="text" name="editName" placeholder="Edit name">
        <button name="editDep" value="<%= department.id%>">Edit</button>
    </form>
<% }) %>


    <a href="/add" title="Add a department">Add a department</a>

</body>
</html>