<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="">
    <title><%= somePhrases.title %></title>
</head>
<body>
    <span><%= somePhrases.one%></span>
    <span><%= somePhrases.two%></span>
</body>
</html>